{
	email me@juliancruzsanchez.com
}

(authentik) {
	forward_auth authentik:9000 {
		copy_headers X-Authentik-Username X-Authentik-Groups X-Authentik-Email X-Authentik-Name X-Authentik-Uid X-Authentik-Jwt X-Authentik-Meta-Jwks X-Authentik-Meta-Outpost X-Authentik-Meta-Provider X-Authentik-Meta-App X-Authentik-Meta-Version
		uri /outpost.goauthentik.io/auth/caddy
	}
}

auth.{$ROOT_DOMAIN} {
	reverse_proxy authentik:9000 {
		header_up Host {http.request.host}
		header_up X-Forwarded-Proto https
		header_up X-Forwarded-For {http.request.remote}
		header_up X-Forwarded-Host {http.request.host}
	}
}

vault.{$ROOT_DOMAIN} {
	reverse_proxy vaultwarden
}

photos.{$ROOT_DOMAIN} {
	reverse_proxy immich:2283
}

admin.{$ROOT_DOMAIN} {
	reverse_proxy portainer:9000
}

drive.{$ROOT_DOMAIN} {
	reverse_proxy nextcloud
}

dns.{$ROOT_DOMAIN} {
  handle /dns-query {
    reverse_proxy https://adguardhome:443 {
      trusted_proxies 172.18.0.0/16
      header_up Host {upstream_hostport}
      header_up X-Real-IP 1.2.3.4
      transport http {
        tls
        tls_server_name dns.{$ROOT_DOMAIN}
      }
    }
  }

  handle /dns-query/* {
    reverse_proxy https://adguardhome:443 {
      trusted_proxies 172.18.0.0/16
      header_up Host {upstream_hostport}
      transport http {
        tls
        tls_server_name dns.{$ROOT_DOMAIN}
      }
    }
  }
 reverse_proxy adguardhome	
}

dav.{$ROOT_DOMAIN} {
	reverse_proxy radicale:5232
}

torrent.{$ROOT_DOMAIN} {
	reverse_proxy vuetorrent
}

git.{$ROOT_DOMAIN} {
	reverse_proxy gitlab
}

getinfo.{$ROOT_DOMAIN} {
	reverse_proxy umami:3000
	redir /getinfo /getinfo.js
	file_server
}

editor.{$ROOT_DOMAIN} {
	reverse_proxy collabora-code:9980
}